ul {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    overflow-x: hidden;
    white-space: nowrap;
    height: 4em;
    width: 100%;
}

ul li {
    padding: 0.5em;
    display: inline;
}

ul li .menu-item {
    background: #0fb8ad;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    font-size: 25px;
    margin: 5px;

    width: 250px;
	padding: 10px;
	text-align: center;
    border: 3px dashed #ccc;
}

ul li .menu-item:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}



.App-body{
    background: linear-gradient(to right, rgb(60, 59, 63), rgb(96, 92, 60));
}